{% extends 'base.html.twig' %}

{% block title %}Tickets index{% endblock %}

{% block body %}
    <!-- As a link -->
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Tickets</a>
            <a class="pull-right btn btn-primary" href="{{ path('tickets_new') }}">Create new</a>
        </div>
    </nav>
    <hr>

    <div class="container">
        <table class="table table-bordered">
            <thead class="table-light">
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Url</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ticket in tickets %}
                <tr>
                    <td>
                        <a class="btn btn-link" href="{{ path('tickets_show', {'id': ticket.id}) }}">{{ ticket.id }}</a>
                    </td>
                    <td>{{ ticket.title }}</td>
                    <td>{{ ticket.content }}</td>
                    <td>{{ ticket.url }}</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{{ path('tickets_show', {'id': ticket.id}) }}">🧐 Consulter</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock %}
