{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <h1>Tickets</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ticket.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ ticket.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ ticket.content }}</td>
            </tr>
            <tr>
                <th>Url</th>
                <td>{{ ticket.url }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-outline-primary" href="{{ path('tickets_index') }}">Retour à la liste</a>

    <a class="btn btn-outline-secondary" href="{{ path('tickets_edit', {'id': ticket.id}) }}">✏️</a>

    {{ include('tickets/_delete_form.html.twig') }}
{% endblock %}
