{% extends 'base.html.twig' %}

{% block title %}Tickets{% endblock %}

{% block body %}
    <nav class="navbar navbar-light bg-light">
        <div class="container-fluid">
            {{ include('tickets/_delete_form.html.twig') }}
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Activités</h1>
                <table>
                    <tbody>
                    {% for comment in commentsTicket %}
                        <tr>
                            <td>{{ comment.message }}</td>
                            <td>{{ comment.createdAt|date }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="5">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {{ include('comment/_form.html.twig') }}
            </div>
            <div class="col">
                <h1>Information</h1>

                <a class="btn btn-outline-primary" href="{{ path('tickets_index') }}">Retour à la liste</a>

                <a class="btn btn-outline-secondary" href="{{ path('tickets_edit', {'id': ticket.id}) }}">✏️</a>
                <table class="table">
                    <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ ticket.id }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ ticket.title }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ ticket.content }}</td>
                    </tr>
                    <tr>
                        <th>Url</th>
                        <td>{{ ticket.url }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
